toute les villes :
<br>
<table>
  <% @villes.each do |ville| %>
      <tr>
        <td><%= ville[:name] %></td>
        <td><%= ville[:description] %></td>
        <td><a href="/villes/<%= ville[:id] %>">voir la ville</a></td>
      </tr>
  <% end %>
</table>