<h1>Panier</h1>

<table class="table table-bordered table-hover">
  <% session[:paniers].each_with_index do |panier, index| %>
      <tr>
        <td><%= panier["name"] %></td>
        <td><%= panier["description"] %></td>
        <td><%= link_to 'supprimer ce plat', "panier/#{index}", method: :delete, data: {confirm: 'Êtes vous sure de votre choix ?'} %></td>
      </tr>
  <% end %>
</table>

<% if session[:paniers].count != 0 %>
    <a href="/adresse" class="btn btn-success">valider le panier</a>
<% end %>

<% if session[:paniers].count == 0 %>
    votre panier est vide
<% end %>