un restaurant affiché

les plats du retaurant :
<br>
<% @plats.each do |plat| %>
    <div>
      <span><%= plat[:name] %></span>
      <span><%= plat[:description] %></span>
      <span><%= link_to "ajouter au panier", "/panier", {param1: 'value1', param2: 'value2', method: :post} %></span>
    </div>
<% end %>