<%= form_for(:users, :url => {:controller => 'account', :action => 'connect'}) do |f| %>
    <p> Email:</br> <%= f.text_field :email%> </p>
    <p> Password:</br> <%= f.password_field :password%></p>
    <%= f.submit :Signup %>
<% end %>
<a href="/creation">créer un compte ?</a>
