<h1>Créer un compte</h1>
<%= form_for(:users, :url => {:controller => 'account', :action => 'create'}) do |f| %>
    <p> Email:</br> <%= f.text_field :email%> </p>
    <p> Password:</br> <%= f.password_field :password%></p>
    <%= f.submit :Signup %>
<% end %>
<a href="/connection">se connecter ?</a>